* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: roboto;
  src: url(./assets/fonts/Roboto_Condensed-Medium.ttf);
}

@font-face {
  font-family: pacifico;
  src: url(./assets/fonts/Pacifico-Regular.ttf);
}

body {
  background-color: #1c1c1c !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #d8a31c;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

/* Header start */

header {
  width: 100%;
  background-color: #d8a31c;
}

.header-content {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-links a {
  text-decoration: none;
  color: #010101;
  font-size: 18px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 0.3px;
  font-family: roboto;
}

.header-links a.active {
  color: #fff;
  border-bottom: 3px solid #fff;
}

.login-btn {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  background-color: #1c1c1c;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #d8a31c;
  font-family: roboto;
}

.logo {
  text-decoration: none;
  color: #010101;
  font-weight: 700;
  font-size: 22px;
  font-family: pacifico;
}

/* Header end */

/* Footer start */

footer {
  width: 100%;
  height: 470px;
  background-color: #d8a31c;
  margin-top: 50px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  padding: 48px 0px 48px;
}

.footer-logo {
  width: 47px;
  height: 49px;
}

.footer-left {
  width: 640px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.links-info {
  display: flex;
  gap: 32px;
  margin-top: 15px;
}

.links-info a {
  text-decoration: none;
  color: #ffffffb3;
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s linear;
}

.links-info a:hover {
  color: #1c1c1c;
  text-decoration: underline;
}

.footer-left-text {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.footer-left-text p {
  color: #1c1c1c;
  font-family: roboto;
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 20px;
}

.footer-left-text p span {
  font-family: pacifico;
  color: #010101;
  font-weight: 700;
}

.footer-left h6 {
  color: #1c1c1c;
  font-family: roboto;
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 20px;
  margin-top: 80px;
}

.footer-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 100px;
  justify-content: space-between;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons svg {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.social-icons svg:hover {
  transform: scale(1.1);
}

.download-app {
  display: flex;
  gap: 15px;
}

.download-app-card {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-app-card a {
  color: #585757;
  font-size: 16px;
  font-family: roboto;
  font-weight: 500;
  text-decoration: none;
}

.fa-apple,
.fa-google-play,
.fa-briefcase {
  color: #1c1c1c !important;
}

/* Footer end */

.mantine-Tabs-list {
  background: white !important;
  border: 1px solid #d8a31c !important;
  padding: 6px;
  border-radius: 12px;
  gap: 4px;
}

.mantine-Table-table {
  background: white;
  border-radius: 20px;
}

.mantine-Table-thead th {
  color: #010101;
  font-family: roboto;
  letter-spacing: 0.3px;
  border-bottom: 1px solid #1f2937;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 500;
}

.mantine-Table-td {
  color: #010101;
  border-bottom: 1px solid #1f2937;
  padding: 16px;
  vertical-align: middle;
}

.table-row {
  transition: background 0.2s ease;
  color: white;
  cursor: pointer;
}

.table-row:hover {
  background: #1f2937 !important;
}

.mantine-Table-table tbody tr:hover {
  background-color: #4b5563 !important;
}
